.header__logo{
  background-image: url(../../../images/header-logo.svg);
  height: 52px;
  width: 176px;
  margin-top: 28px;
}

@media (max-width: 400px) {
  .header__logo {
    margin-top: 16px;
    height: 42px;
    width: 142px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}