.footer__copyright{
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 16px;
  font-size: 14px;
  text-align: right;
}

@media (max-width: 611px) {
  .footer__copyright{
    text-align: left;
    line-height: 14px;
  }
}