.lead__caption{
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 14px;
  font-size: 10px;
  padding-top: 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-bottom: 92px;
}

@media (max-width: 968px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media (max-width: 320px) {
  .lead__caption {
    padding-left: 16px;
    padding-bottom: 64px;
  }
}