.lead__caption{
  margin: 0;
  padding: 0;
  font-family: Inter;
  color: #fff;
  line-height: 14px;
  font-size: 10px;
  padding-top: 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-bottom: 92px;
}