.place{
  display: grid;
  grid-template-columns: 460px auto;
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  column-gap: 40px;
  row-gap: 48px;
  padding-bottom: 80px;
}

.place:last-of-type{
padding: 0;
}